.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }

/* BORDER BOX **/
*, *:before, *:after {
  box-sizing: border-box; }

/* REMOVE BLUE/DOTTED BORDER ON FOCUSED ELEMENTS */
a, :focus {
  outline: 0; }

/* ANTI ALIAS */
* {
  -webkit-font-smoothing: antialiased; }

body {
  font-family: Arial; }

.app-header {
  overflow: visible;
  background-color: white; }
  .app-header .material-icons {
    color: #767777; }
  .app-header .mdl-layout__drawer-button {
    background: transparent;
    color: #767777; }
  .app-header .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 14px; }
  .app-header .app-navigation-container {
    direction: rtl;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), width 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
  .app-header .app-navigation {
    direction: ltr;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 800px; }
  .app-header .app-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
    text-decoration: none; }
  .app-header .app-navigation .mdl-navigation__link:hover {
    border-bottom: 4px solid #424242; }
  .app-header .app-more-button {
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }

.app-drawer {
  border-right: none; }
  .app-drawer .app-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0; }
  .app-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #757575; }
  .app-drawer span.mdl-navigation__link.mdl-navigation__link {
    color: #424242; }
  .app-drawer .mdl-layout-title {
    position: relative;
    background: #424242;
    height: 90px; }
    .app-drawer .mdl-layout-title .material-icons {
      color: #fff; }
  .app-drawer .app-logo-image {
    position: absolute;
    bottom: 16px; }

.modal_cover {
  display: none;
  position: absolute;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); }
  .modal_cover .modal_card {
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -115px; }
    .modal_cover .modal_card .mdl-button {
      text-decoration: none; }
